

.main
{
        display: flex;
        flex-direction:column;
           gap: 10px;
           padding-top: 100px;
         
}
.Login
{

   border:1px solid rgb(152, 149, 149);
   width: 100%;
   max-width: 250px;
   margin-inline: auto;
    background-color:whitesmoke;
    
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading img
{
    width: 70px;
    height: 70px;
}


.input-field
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;

}

.input-field #email , #password 
{
    padding: 8px;
    background-color: rgb(206, 209, 209);
    border: 1px solid rgb(206, 209, 209);
    border-radius: 5%;
}

.input-field button
{
    color: whitesmoke;
    background-color: blue;
    border: none;
    padding: 8px;
    width: 178px;
    opacity: 40%;
}

.space 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.space p
{
    color:black;
    opacity: 50%;
}

.fb-login
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.fb-login button{
    color: blue;
    background-color: whitesmoke;
    border: none;
    font-size: 16px;
    
}

.fb-login img{
    width: 25px;
    height: auto;
}

.hyper-link
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hyper-link a
{
    color: black;
    text-decoration-line: none;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.combine
{
    line-height: 3;
}

.sign-up
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    max-width: 250px;
    border: 1px solid rgb(79, 78, 78);
    margin-inline: auto;
    background-color: whitesmoke;
}

.sign-up button
{
    border: none;
    color: blue;
    background-color:whitesmoke;
    
    font-weight: bold;
}
